@import 'bootstrap';

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



html, body {
	height: 100%;
}

#upload_file {
	display: none;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.button-box {
	width: 100%;
}

.no_display {
	display: none;
}

.yes_display {
	display: inline;
}


.keep,
.kill,
.picture,
.post {
	width: 50%;
}

.main-mobile {
	position: relative;
	min-height: 100%;
	min-width: 100%;
	outline: 2px solid black;
	background-size: cover;

}

.text-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.desktop-header{
	height: 100vh;
}

.desktop-vertical-center{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


.info-box-right {
	border-left: 1px dotted #5BC0DE;
}

.demo-screenshot {
	max-height: 400px;
}

#join {
	padding-top: 5em;
	padding-bottom: 5em;
}

#hot {
	padding-top: 1em;
	padding-bottom: 1em;	
}

#source {
	padding-top: 5em;
	padding-bottom: 5em;
}

.debug {
	outline: 2px solid black;
}

.error-box {
	width: 90%;
	position: absolute;
	left: 5%;
	top: 50%;
	transform: translateY(-50%);
}