<section class="desktop-header bg-info" id="about">
	<nav class="navbar navbar-dark bg-inverse">
		<a class='navbar-brand'>PictureIt</a>
		<ul class="nav nav-inline text-align-right">
			<li class="nav-item">
				<a class="nav-link" href="#about">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#hot">What's Hot</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#join">Join the Fun</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#source">Source</a>
			</li>
		</ul>
	</nav>

	<div class="container-fluid desktop-vertical-center col-xs-12 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3">
		<div class="row">
			<h2 class="text-center">Welcome to PictureIt</h2>
			<hr>
		</div>
		<div class='row'>
			<div class="card card-inverse card-primary text-xs-center">
				<div class="card-block">
					<blockquote class="card-blockquote">
						<div class='row'>
							<div class='col-sm-8 col-xs-12 info-box-left'>
								<p>PictureIt is all about sharing what is happening right now! You can only upload pictures taken with your phone or tablet's camera, and old pictures are replaced upon the submission of a new picture.</p>
								<p>You can vote on whether they want to 'keep' or 'kill' an image. If an image receives enough 'keeps', it will receive protection from being overwritten for a short time. 'Kill's will reduce that protection. </p>
								<p>Want to display a cool message with your photo? Caption it! Using MiniMagick, your caption will be written to the image itself so that everyone can see how clever you are!</p>
							</div>
							<div class='col-sm-4 col-xs-12 info-box-right'>
								<%=image_tag('/images/demo_screenshot.png', class: "img-fluid demo-screenshot center-block") %>
							</div>
						</div>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid bg-warning" id="hot">
	<div class="col-xs-12 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3">
		<div class="row">
			<h2 class="text-center">What's hot right now?</h2>
			<hr>
		</div>
		<div class='row'>
			<%= image_tag(@current_image.image, class: "center-block img-fluid img-rounded") %>
		</div>
	</div>
</section>

<section class="bg-info container-fluid" id="join">
	<div class='col-xs-12 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3'>
		<div class="row">
			<h2 class="text-center">Join the Fun!</h2>
			<hr>
		</div>
		<div class='row text-xs-center'>
			<p>You can join right now! All you need is some creativity, and a Phone or Tablet! Navigate to <%=link_to "http://pic-it.herokuapp.com", (root_path)%> and Picture It!</p>
			<p>Why don't we allow images to be uploaded from your desktop or laptop computer? Simple - PictureIt is all about what is happening right now. We don't want your favorite picture from 2012, we don't want a picture from a concert last week, we don't even want to see what you ate 5 minutes ago - we want to experience what you're experiencing at this very moment.</p>
		</div>
	</div>
</section>

<section class="bg-warning" id="source">
	<div class="container-fluid">
		<div class='col-xs-12 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3'>
			<div class="row">
				<h2 class="text-center">Want to Contribute?</h2>
				<hr>
			</div>
			<div class='row text-xs-center'>
				<p>PictureIt is still in active development, and there are many features that we still want to implement. The software is <%=link_to "open source", ('https://www.github.com/its-swats/PictureIt') %>, so please, feel free to contribute if that's something you're in to.</p>
			</div>
		</div>
	</div>
</section>
<nav class="navbar navbar-dark bg-inverse">
	<a class='navbar-brand'>PictureIt</a>
	<ul class="nav nav-inline text-align-right">
		<li class="nav-item">
			<a class="nav-link" href="#about">About</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#hot">What's Hot</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#join">Join the Fun</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#source">Source</a>
		</li>
	</ul>
</nav>