<section class="desktop-header bg-info" id="about">
	<nav class="navbar navbar-dark bg-inverse">
		<a class='navbar-brand'>PictureIt</a>
		<ul class="nav nav-inline text-align-right">
			<li class="nav-item">
				<a class="nav-link" href="#about">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#hot">What's Hot</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#join">Join the Fun</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#source">Source</a>
			</li>
		</ul>
	</nav>

	<div class="container-fluid desktop-vertical-center col-xs-12 col-lg-8 col-lg-offset-2">
		<div class="row">
			<h2 class="section-heading text-center">Welcome to PictureIt</h2>
			<hr>
		</div>
		<div class='row'>
			<div class="card card-inverse card-primary text-xs-center">
				<div class="card-block">
					<blockquote class="card-blockquote">
						<div class='row'>
							<div class='col-lg-8 info-box-left'>
							<p>PictureIt is a image sharing service where users can upload pictures taken with their phone or tablet's camera. Old pictures are immediately replaced upon the submission of a new picture.</p>
							</div>
							<div class='col-lg-4'>

							</div>
						</div>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="jumbotron" id="hot">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-lg-offset-2">
				<h2 class="section-heading text-center">What's hot right now?</h2>
				<hr>
				<%= image_tag(@current_image.image, class: "center-block img-fluid img-rounded") %>
			</div>
		</div>
	</div>
</section>

<section class="" id="join">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2 class="section-heading text-center">Join the Fun!</h2>
				<hr>

			</div>
		</div>
	</div>
</section>

<section class="" id="source">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2 class="section-heading text-center">Want to Contribute?</h2>
				<hr>
				
			</div>
		</div>
	</div>
	<nav class="navbar navbar-dark bg-inverse">
		<a class='navbar-brand'>PictureIt</a>
		<ul class="nav nav-inline text-align-right">
			<li class="nav-item">
				<a class="nav-link" href="#about">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#hot">What's Hot</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#join">Join the Fun</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#source">Source</a>
			</li>
		</ul>
	</nav>
</section>