<section class="desktop-header bg-info" id="about">
	<nav class="navbar navbar-dark bg-inverse">
	<a class='navbar-brand'>PictureIt</a>
	<ul class="nav nav-inline text-align-right">
			<li class="nav-item">
				<a class="nav-link" href="#about">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#hot">What's Hot</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#join">Join the Fun</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#source">Source</a>
			</li>
		</ul>
	</nav>
	<div class="container-fluid desktop-vertical-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<row>
					<h2 class="section-heading text-center">Welcome to PictureIt</h2>
					<hr>
					<p class=""> </p>
				</row>
				<row>
					<div class="card card-inverse card-primary text-xs-center col-md-12 col-lg-5">
						<div class="card-block">
							<blockquote class="card-blockquote">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
								<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
							</blockquote>
						</div>
					</div>
					<div class="card card-inverse card-primary text-xs-center col-md-12 col-lg-5 col-lg-offset-2">
						<div class="card-block">
							<blockquote class="card-blockquote">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
								<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
							</blockquote>
						</div>
					</div>
				</row>
			</div>
		</div>
	</div>
</section>

<section class="jumbotron" id="hot">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2 class="section-heading text-center">What's hot right now?</h2>
				<hr>
				<%= image_tag(@current_image.image, class: "center-block img-fluid img-rounded") %>
			</div>
		</div>
	</div>
</section>

<section class="" id="join">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2 class="section-heading text-center">Join the Fun!</h2>
				<hr>

			</div>
		</div>
	</div>
</section>

<section class="" id="source">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2 class="section-heading text-center">Want to Contribute?</h2>
				<hr>
				
			</div>
		</div>
	</div>
	<nav class="navbar navbar-dark bg-inverse">
	<a class='navbar-brand'>PictureIt</a>
	<ul class="nav nav-inline text-align-right">
			<li class="nav-item">
				<a class="nav-link" href="#about">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#hot">What's Hot</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#join">Join the Fun</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#source">Source</a>
			</li>
		</ul>
	</nav>
</section>