<nav class="main-footer navbar navbar-light bg-faded navbar-fixed-bottom">
  <div class="nav navbar-nav">
    	<div class='button-box btn-group btn-group-lg' role='group'>
	      <%= link_to "Keep It", up_path, class: 'keep btn btn-primary', method: 'post' %>
	      <%= link_to "Kill It", down_path, class: 'kill btn btn-danger', method: 'post' %>
      </div>
  </div>
</nav>
