<nav class="navbar navbar-light bg-faded">
  <div class="nav navbar-nav">
    <form class="form-inline">
    	<div class='button-box btn-group btn-group-lg' role='group'>
	      <button class='keep btn btn-primary'>Keep It</button>
	      <button class='kill btn btn-danger'>Kill It</button>
      </div>
    </form>
  </div>
</nav>