<nav class="main-header navbar navbar-light bg-faded navbar-fixed-top">
  <div class="nav navbar-nav">
    <form class="form-inline">
      <label for='upload-file' class='btn btn-block btn-primary form-control'>Picture It</label>
      <input class='form-control form-control-lg' type='text' placeholder='Caption It'>
      <input class='form-control' type='submit' value='Post It'>
      <input id='upload-file' type='file' accept='image/*' capture='camera'> 
    </form>
  </div>
</nav>