<div id='picFrame' class='main-mobile' style="background-image: url('<%=@current_image.image%>')">

	<% if flash[:errors] %>
		<div class="error-box alert alert-warning alert-dismissible fade in" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <strong><%=flash[:errors]%></strong>
		</div>
	<% end %>

</div>

